/* BASICS */
html, body {
    margin: 0;
    padding: 0;
    /* font-family: 'Inconsolata', monospace; */
    font-family: 'Saira Condensed', sans-serif;
}

body{
    height: 100%;
}
a{
    text-decoration: none;
}

.sign-in{
    max-width: 330px;
    margin-left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
.sign-in input{
    margin-bottom: 10px;
}

.signin-body{
    height: 100%;
    margin-top: 5%;
    margin-right: 10%;
    margin-left: 10%;
}

/* BODY */
/* --------------------- */
.navbar-io{
    height: 100px;
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    background-color: rgba(255, 255, 255, 0.972);
    position: fixed;
    top:0;
    z-index: 100;
    box-shadow: 0px 13px 22px -20px;
}

/* ----------- */
.header-logo{
    display: inline-block;
    position: absolute;
    margin:0px 0px 0px 1rem;
    top: 35%;
}
.header-logo>a{
    font-size: 30px;
    font-weight: bold;
}


/* ----------- */
.header-nav-wrap{
    position: relative;
    float: right;
    top: 35%;
}
.header-nav-wrap li{
    display: inline-block;
    padding: 2px;
    margin-right: 2rem;
}

.header-nav-wrap li a{
    font-size: 25px;
    color: black;
    transition: 0.2s ease-out;
}
.header-nav-wrap li a:before{
    content:'';
    border: 1px black solid;
    position: relative;
    left: -1rem;
    transition: 0.2s ease-in;
}

.header-nav-wrap li a:hover{
    color: rgb(211, 6, 84);
    text-decoration: none;
    transition: 0.2s ease-in;
}
.header-nav-wrap li a:hover:before{
    content:'';
    border: 1.5px rgb(211, 6, 84) solid;
    position: relative;
    left: -1rem;
    transition: 0.1s ease-in-out;
    padding-top: -1rem;
}


/* ------------- */
.cool-body{
    box-shadow: 0px 13px 22px -20px;
    height: 100%;
    margin-top: 7%;
    margin-right: 10%;
    margin-left: 10%;
    border-radius: 5px;
}

.cool-body .row{
    margin-right: 15px !important;
    margin-left: 15px !important;
}


.cool-body .site-title{
    font-weight: bold;
}



.cool-body li{
    list-style-type: none;
    height: 4rem;
    margin-bottom:50px;
    
}
.cool-body li:before{
    content: '';
    width: 1px;
    height: 22px;
    background-color: black;
    left: -1rem;
    position: relative;
    border: 2px solid black;
    top: 0;
    transition: 0.2s ease-in-out;
}


.cool-body li a{
    color: black;
    transition: 0.2s ease-in-out;
    font-size: 20px;
}
.cool-body li a:hover{
    text-decoration: none;
    color: rgb(211, 6, 84);
    text-shadow: 2px 2px 2px rgb(206, 206, 206);
}
.cool-body li:hover:before{
    border: 2px solid rgb(211, 6, 84);
    padding-bottom: 1%;
    top: 5px;
    transition: top 0.1s ease-in-out;
}