{% extends "index.html" %}

{% block content%}
    <!-- Body -->
    <div class='cool-body'>
        <div class='row'>
            <div class='col-6'>
                <h1 class="site-title">  _IMDB</h1>
                <br>
                {% if IMDBNews %}
                <ul>
                    {% for item in IMDBNews %}
                        <li>
                            <a href="{{item.href}}">{{ item.title }}
                                <div class="mb-1 text-muted">{{item.date}}</div>
                            </a>
                        </li>
                    {% endfor%}
                </ul>
                {% else %}
                    <h1>Sorry no news</h1>
                {% endif%}
            </div>
            <div class="col-6">
                <h1 class="site-title"> _Hacker News</h1>
                <br>
                {% if HackerNews %}
                <ul>
                    {% for item in HackerNews %}
                        <li>
                            <a href="{{item.href}}">{{ item.title }}
                                <div class="mb-1 text-muted">{{item.votes}} votes</div>
                            </a>
                        </li>
                    {% endfor%}
                </ul>
                {% else %}
                    <h1>Sorry no news</h1>
                {% endif%}
            </div>
        </div>
        <div class='row'>
            <div class='col-6'>
                <h1 class="site-title">  _Dev.to</h1>
                <br>
                {% if DevNews %}
                <ul>
                    {% for item in DevNews %}
                        <li>
                            <a href="{{item.href}}">{{ item.title }}
                                <div class="mb-1 text-muted">{{ item.date }}</div>
                            </a>
                        </li>
                    {% endfor%}
                </ul>
                {% else %}
                    <h1>Sorry no news</h1>
                {% endif%}
            </div>
        </div>
    </div>
{% endblock %}